<div class="close-wrapper"><a href="#"><img src="./assets/css/img/cross.png"></a></div>
<h1>Self Registration</h1>

<table width="610" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
  <tr>
    <td height="36px"><table width="610" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="12">&nbsp;</td>
        <td width="406" class="regtopheading">Register for full Access!</td>
        <td width="177" class="blacktext">Pairness.com Member?<a class="login-mini" href="#"> Login here</a></td>
        <td width="10">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="regtoph2" align="center"><img src="./assets/css/img/icon_pin.png" width="22" height="30" align="absmiddle" /> Register now &amp; start Receiving <span class="style1">FREE</span> matches by email!</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="610" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15">&nbsp;</td>
        <td><table width="582" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td bgcolor="#f0f0f0"><table width="582" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><table width="582" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td class="formtext" align="right">Email*</td>
                    <td><input type="text" name="textfield" / class="inputForm01"></td>
                    <td class="formtext" align="right">Password*</td>
                    <td><input type="text" name="textfield2" / class="inputForm01"></td>
                  </tr>
                </table></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td><table width="582" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><table width="307" border="0" cellspacing="2" cellpadding="1">
                  <tr>
                    <td width="90" align="right" class="formtext">Profile for*</td>
                    <td><select name="select2" class="dropdown01">
                      <option>Select</option>
                                        </select></td>
                  </tr>
                  <tr>
                    <td class="formtext" align="right">Name*</td>
                    <td><input type="text" name="textfield32" / class="inputf2"> <input type="text" name="textfield322" / class="inputf2" /></td>
                  </tr>
                  <tr>
                    <td class="formtext" align="right">Gender*</td>
                    <td><select name="select" class="dropdown01">
                      <option>Day</option>
                                        </select>
                      <select name="select7" class="dropdown01">
                        <option>Month</option>
                                                                  </select>
                      <select name="select8" class="dropdown01">
                        <option>Year</option>
                                            </select></td>
                  </tr>
                  <tr>
                    <td class="formtext" align="right">Date of Birth*</td>
                    <td><select name="select3" class="dropdown01">
                      <option>Select</option>
                    </select></td>
                  </tr>
                  <tr>
                    <td class="formtext" align="right">Religion*</td>
                    <td><select name="select4" class="dropdown01">
                      <option>Select</option>
                    </select></td>
                  </tr>
                  <tr>
                    <td class="formtext" align="right">Mother Tongue*</td>
                    <td><select name="select5" class="dropdown01">
                      <option>Select</option>
                    </select></td>
                  </tr>
                  <tr>
                    <td class="formtext" align="right">Living in*</td>
                    <td><select name="select6" class="dropdown01">
                      <option>Select</option>
                    </select></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="2" class="redtext" align="right">Fields marked (*) are mandatory</td>
                    </tr>
                </table></td>
                <td width="15">&nbsp;</td>
                <td width="260"><table width="260" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center" class="maintxt11"><input type="checkbox" name="checkbox" value="checkbox" />
                      I agree to the <a class="blink" href="#">Privacy Policy</a> and <a class="blink" href="#">T&amp;C</a>.</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center"><img src="./assets/css/img/btn_register.png" width="123" height="39" /></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="center"><img src="./assets/css/img/logo_pairness_medium.png" width="226" height="52" /></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          
        </table></td>
        <td width="14">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>