/* CSS Document */

html, body {
margin:0px;
padding:0px;
background-image:url(./img/bg.png);
}
@font-face {
	font-family: Book Antiqua;
	src: url('./img/ANTQUAB.ttf');
}

@font-face {
	font-family: Candara;
	font-weight: bold;
	src: url('./img/Candara.ttf');
}

.blacktext {
color:#000000; font-size:10px; font-family:Arial, Helvetica, sans-serif;
}
.whitetext {
color:#ffffff; font-size:13px; font-family:Arial, Helvetica, sans-serif;
}
.footertxt {
color:#fda03b; font-size:12px; font-family:Arial, Helvetica, sans-serif;
text-shadow:0 0 3px #000000;
}
.footerlinktxt {
color:#fde679; font-size:12px; font-family:Candara;
}

.inputForm
{
-moz-border-radius:5px; /* Firefox */
-webkit-border-radius: 5px; /* Safari, Chrome */
-khtml-border-radius: 5px; /* KHTML */
border-radius: 5px; /* CSS3 */
height:28px;
border-color:#000000;
width:290px;
background-image:url(./img/img_textbox_bg.png);
padding-left:5px;
color:#8a8787;
font-family:Book Antiqua;
font-size:14px;
}
.flink:link {
color:#fde679; font-size:15px; font-family:Candara; font-style:italic;
}
.flink:visited {
color:#fde679; font-size:15px; font-family:Candara; font-style:italic;
}
.flink:hover {
color:#fff; font-size:15px; font-family:Candara; font-style:italic;
}
.flink:active {
color:#fde679; font-size:15px; font-family:Candara; font-style:italic;
} 


.loader{
	left:50%;
	top:50%;
	position: absolute;
	display:none;
}

.clky{
	cursor:pointer;
	color:blue;
}

.clky:hover{
	text-decoration:underline;
}

#searchr tr:first-child
{ 
background-color:yellow;
}

.layout{
	padding:0px 20px;
	margin: 0 auto;
	background-size: 100%;
}

.index .layout{

}

.le,.re,.me{
	float:left
}

.le{
	width:100px;
	height:800px;
	background:url(./img/bg.png);
}

.re{
	width:100px;
	height:800px;
	background:url(./img/bg.png);
}

#logo {
	margin-left: 160px;
	margin-top: 100px;
}

.tps{
	width:100%;
	height:8px;
	background:black;
}

#heart{
	margin-left:160px;
}

input[type="text"][readonly] {
   background: grey;
}

.not-wrapper{
	left: 40%;
	top: 50%;
	display:none;
	padding: 10px 60px;
	background: #820503;
	border-radius: 20px;
	border:10px solid rgba(0,0,0,0.25);	
	color:white;
	text-align: center;
	min-width:200px;
	margin-left:auto;
	margin-right:auto;
}


.autocomplete-suggestions { overflow:hidden; border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }

.not a {
	color:white;
}

.abs {
	position: absolute;
}

a{
	color:white !important;
}

.logo{
	float:left;
	
}

.hdr{
	width: 100%;
	margin-top:50px;
}

.usr-img{
	color: white;
	float:right;
}

.ml{
	text-align:center;
}

.user-opt a{
color:red !important;
}
.user-opt {
margin-left: 15px;
margin-top: -15px;
position: absolute;
z-index: 1;
padding: 20px;
opacity: 0.8;
display: none;
float: right;
background: white;
}

.navbar {
padding: 40px 20px 0px 20px;
}

.nav{
	margin-top:50px;
	clear: both;
	border-radius: 5px 5px 0px 0px;
	height:36px;
	width:100%;
	background:rgb(255, 181, 197);
}

span.sep{
	width:4px;
	height:100px;
	background-image: url('./img/menu_bg_03.png');
}

.topmenu {
	margin: 0px 20px;
}

.page{
	background:white;
}

.pagef{
	background:rgb(255, 181, 197);
	border-radius: 0px 0px 5px 5px;
	height:30px;
	width:100%;
	margin-bottom: 20px;
}